@import url('https://fonts.googleapis.com/css2?family=Sixtyfour+Convergence&display=swap');


body {
  background-image: url("./assets/school.jpg");
  background-size: cover;
  font-family: "Sixtyfour Convergence", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  text-align: center;
  /*to avoid image repetition if you have a background image, this will take the entire viewport */
  height:100vh;
}


.container{
  background: white;
  opacity: 0.90;
  width: 80%;
  max-width: 850px;
  margin: auto; /* this helps centering */
  border: 3px solid black;
  border-radius: 10px;
}


h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 32px;
}


h2 {
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 20px;
}


button {
  /*border: none; */
  border: 1px solid #211717;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-weight: bold;
  width: 200px;
  margin-bottom: 5px;
  border-radius: 5px;
}


#increment-btn {
 background: #2C2891;;
}


#save-btn {
  background: #660063;
}


